{{#section 'head'}}
    <!-- we want Google to ignore this page -->
    <meta name="robots" content="noindex">
{{/section}}

    <h1>About FnB Selector</h1>
    <body>this</body>
    {{> weather}}

{{#section 'script'}}
    <script>
        document.querySelector('body')
         .insertAdjacentHTML('beforeEnd','<small>(scripting work!)</small>')
    </script>
{{/section}}


